name:  CI Robot Framework - Selenium

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name:  Checkout do C贸digo
        uses: actions/checkout@v3

      - name:  Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name:  Instalar Depend锚ncias
        run: |
          pip install -r requirements.txt
          npm install -g allure-commandline --force

      - name:  Executar Testes Robot Framework
        run: |
          ENVIRONMENT=qa robot \
            --listener allure_robotframework;allure-results \
            --outputdir allure-results tests
        continue-on-error: true

      - name: И Gerar Relat贸rio Allure
        run: |
          allure generate allure-results -o reports/allure-report --clean
          ls -l reports/allure-report

      - name:  Salvar Relat贸rio Allure como Artefato
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: reports/allure-report

      - name:  Publicar Relat贸rio no Netlify
        uses: nwtgck/actions-netlify@v2.0
        with:
          publish-dir: ./reports/allure-report
          production-deploy: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
  