name:  CI Robot Framework - Selenium

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name:  Checkout do C贸digo
        uses: actions/checkout@v3

      - name:  Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name:  Instalar Depend锚ncias
        run: |
          pip install -r requirements.txt
          npm install -g allure-commandline --force

      - name:  Executar Testes Robot Framework
        run: |
          ENVIRONMENT=qa robot \
            --listener allure_robotframework;allure-results \
            --outputdir allure-results tests
        continue-on-error: true

      - name: И Gerar Relat贸rio Allure em /docs
        run: |
          allure generate allure-results -o docs --clean

      - name:  Commit do Relat贸rio para GitHub Pages
        if: github.ref == 'refs/heads/master'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add docs
          git commit -m " Atualiza relat贸rio Allure [ci skip]" || echo "Nada para commitar"
          git push