name: Executar Testes Robot Framework

on:
  push:
    branches:
      - master

jobs:
  testes:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name:  Checkout do C贸digo
        uses: actions/checkout@v3

      - name:  Configurar Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name:  Instalar Depend锚ncias
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip curl chromium-browser chromium-chromedriver
          pip install -r requirements.txt
          python -c "from webdriver_manager.chrome import ChromeDriverManager; ChromeDriverManager().install()"

      - name: И Executar Testes Robot
        env:
          ENVIRONMENT: qa  # voc锚 pode trocar por dev, prod etc
        run: robot --outputdir reports tests || true

      - name:  Gerar Relat贸rio Final
        run: rebot --loglevel DEBUG --reporttitle "Relat贸rio Personalizado" --outputdir reports reports/output.xml

      - name:  Publicar Relat贸rios
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: relatorios-teste
          path: reports
