name:  CI Robot Framework - Selenium

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name:  Checkout do C贸digo
        uses: actions/checkout@v3

      - name:  Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name:  Instalar Depend锚ncias
        run: |
          pip install -r requirements.txt
          npm install -g allure-commandline --force

      - name:  Executar Testes Robot Framework
        run: |
          ENVIRONMENT=qa robot \
            --listener allure_robotframework;allure-results \
            --outputdir allure-results tests
        continue-on-error: true

      - name: И Gerar Relat贸rio Allure na pasta docs/
        run: |
          rm -rf docs  # Limpa pasta anterior se houver
          allure generate allure-results -o docs --clean

      - name:  Desabilitar Jekyll
        run: |
          touch docs/.nojekyll

      - name:  Commit e Push do Relat贸rio para GitHub Pages
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add docs
          git commit -m " Atualizando relat贸rio Allure para GitHub Pages"
          git push origin HEAD:master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
